llama-index-core
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-readers-file
pymupdf
groq
python-dotenv==1.0.1
pypdf==4.1.0
streamlit>=1.30.0
langchain-groq
langchain-mcp-adapters
langgraph
